@charset "UTF-8";

h1 {

    background-color: rgb(199, 154, 154);
   color: aliceblue;
   font-size: 60px;
}


body{
    background-color: rgb(102, 94, 109);
}
p{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}
