@charset "UTF 8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');

@font-face {
	font-family: 'android';
	src: url('../fontes/idroid.otf') format('opentype');
	font-weight: normal;
}

:root {
    		--cor0: #c5ebd6;
    		--cor1: #83e1ad;
    		--cor2: #3ddc84;
   	 		--cor3: #2fa866;
    		--cor4: #1a5c37;
    		--cor5: #063d1e;
		
		--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
		--fonte-destaque: 'Bebas Neue', cursive;
		--fonte-android: 'android', cursive;


		}



*{
	padding: 0px;
	margin: 0px;
}


body{
    background-color: var(--cor0);
}

header > h1{
	color: white;
	font-size: 3em;
	font-family: var(--fonte-destaque);
	padding-bottom: 10px;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.479);
	font-weight: normal;

}

main h1 {
	font-weight: normal;
	color: var(--cor5);
	font-family: var(--fonte-android);
	font-size: 1.8em;
	
}

main h2{
	font-family: var(--fonte-android);
	color: #1a5c37;
	font-size: 1.3em;
	background-image: linear-gradient(to right, var(--cor0), transparent);
	padding-left: 5px;
	font-weight: normal;
}

main p{
	margin: 15px 0px;
	text-align: justify;
	text-indent: 20px;
	line-height: 2em;
}

header{
	background-image: linear-gradient(to top, var(--cor5), var(--cor4), var(--cor3) ) ;
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
	
}
header > p{
	color: white;
	max-width: 400px;
	margin: auto;
	font-size: 1.2em;
	margin-bottom: 5px;
	

}

nav{
	background-color: var(--cor5);
	padding: 10px;
	box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.432);
}

nav > a{
	color: var(--cor1);
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	font-weight: bold;
	transition-duration: 0.5s;

	
	
}

nav > a:hover{
	color: var(--cor5);
	background-color: var(--cor3);
}

main{
	background-color: white;
	max-width: 1000px;
	min-width: 300px;
	margin: auto;
	padding: 30px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.418);
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 15px;
}

.video{
	background-color: var(--cor5);
	margin: bottom 30px ;
	margin: 0px -30px;
	padding: 25px;
	position: relative;
	padding-bottom: 59%;
}


.video > iframe{
	position: absolute;
	top: 5% ;
	left: 5%;
	width: 90%;
	height: 90%;
}
aside{
	background-color: var(--cor1);
	padding: 10px;
 	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
	margin-top: 20px;
}

footer{
	background-color: var(--cor5);
	color: white;
	text-align: center;
	font-size: 0.8em;
	padding: 5px;
	font-family: var(--fonte-padrao)
}

main img{
	width: 100%;
}

main img.pequeno{
	max-width: 350px;
	display: block;
	margin: auto;
}

main a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	background-color: #83e1ad;
	padding: 2px 6px;
	border-radius: 3px;

}

main a:hover{
	text-decoration: underline;
	background-color: #1a5c37;
	transition-duration: 0.3s;
}
aside > ul {
	list-style-position: inside;
	columns: 2;
}

aside > h3{
	background-color: #1a5c37;
	color: white;
	margin: -10px -10px 0px -10px;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	font-size: 1.2em;
	text-align: center;
	
}

a.externo::after{
	content: '\1F517';
}