@charset "UTF 8";


body{
    background-color: black;
}

h1{
    color: white;
}

h2{
    color: white;
}

p{
    color: white;
}

#titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: white;
}

.texto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: red;

}

.principal{
    text-align: center;
    font-weight: bolder;
   font-style: italic;
   font-size: 40px;
}
