@charset "UTF-8";

nav{
    background-color: #B4D9CE;
    color: black;
    border: 2px solid black;
    width: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);

}

nav > a{
    color: white;
    text-decoration: none;
    padding-right: 60px;
    font-size: 40px;
    font-weight: bolder;
}
nav > a:hover{
    text-decoration: underline;
}

header{
    font-size: 50px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: gray;
    margin: 20px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
}

p{
    background-color: gray;
    border: 2px solid black;
    padding: 3px;
    margin: 20px;
}

aside{
    background-color: black;
    color: white;
    text-align: center;
}

body{
    margin: 0px;
    background-color: lightgreen;
}

article > h2{
    text-align: center;
    background-color: lightgrey;
    width: 300px;
    margin: 50px auto;
    border: 2px solid black
}

div#bola{
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 20px;
    border-radius: 50%;
}
